body{
    margin: 0;
    background-color: cyan;
    font-family: Arial, Helvetica, sans-serif;
}


.grid-areas{
    display: grid;
    grid-template-columns: 200px 1fr;;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas:
    "header header"
    "menu main"
    "footer footer";

    height: 100vh;
}
/*Cabeçalho*/
.header{
    grid-area: header;
    background-color: #444;
    color: white;
    padding: 20px;
    text-align: center;
}
/*Menu*/
.menu{
    grid-area: menu;
    background-color: #555;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    padding: 15px;
    color: white;
    cursor: pointer;
}

nav li:hover{
    background-color: black
}

nav li::before{
    content: ">>";
}
.main{
    grid-area: main;
    background-color: #ddd;
    padding: 20px;

    animation: subir 1.5s;
}
.footer{
    grid-area: footer;
    background-color: #444;
    color: white;
    text-align: center;
    padding: 15px;
}
